pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121
python -m pip install paddlepaddle-gpu==3.0.0rc1 -i https://www.paddlepaddle.org.cn/packages/stable/cu118/
paddleocr
easyocr
